.lead__title {
  margin: 0 5%;
  max-width: 90%;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 425px) {
  .lead__title {
    max-width: 400px;
    font-size: 56px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 1.04;
  }
}
