.footer__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .footer__nav-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__nav-list {
    max-width: 660px;
  }
}
