.place {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: minmax(340px, 439px) minmax(352px, 455px);
    column-gap: 28px;
    row-gap: 48px;
    margin-top: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    margin-top: 80px;
  }
}
